In [1]:
import pandas as pd

In [2]:
og_cross_df = pd.read_csv('og-cross-repository.csv')
og_within_df = pd.read_csv('og-within-repository.csv')

additional_transformed_data = []

og_cross_df = og_cross_df.drop(columns=['GPT2SP_vs'])
og_cross_df['Scenario'] = 'cross'
og_cross_df = og_cross_df[['Scenario', 'Source', 'Target', 'Method', 'MAE', 'MdAE', 'SA']]
og_within_df = og_within_df.drop(columns=['GPT2SP_vs'])
og_within_df['Scenario'] = 'within'
og_within_df = og_within_df[['Scenario', 'Source', 'Target', 'Method', 'MAE', 'MdAE', 'SA']]

og_df = pd.concat([og_cross_df, og_within_df])

og_df

   Scenario      Source      Target   Method   MAE  MdAE     SA
0     cross      clover    usergrid   GPT2SP  2.18  2.03  37.67
1     cross      clover    usergrid  Deep-SE  3.47  3.50   0.98
2     cross      clover    usergrid     Mean  3.08  2.82  12.02
3     cross      clover    usergrid   Median  2.30  2.00  34.40
4     cross   talendesb       mesos   GPT2SP  2.65  2.75  28.83
..      ...         ...         ...      ...   ...   ...    ...
27   within        mule  mulestudio   Median  3.26  3.00  26.26
28   within  mulestudio        mule   GPT2SP  3.03  2.65  30.27
29   within  mulestudio        mule  Deep-SE  2.77  2.47  36.28
30   within  mulestudio        mule     Mean  3.05  1.77  29.83
31   within  mulestudio        mule   Median  2.60  3.00  40.24

[64 rows x 7 columns]

In [3]:
df_cross = pd.read_csv('cross_results.csv')
df_cross

,Train,Test,Llama3SP,Llama3.2+SPWordLevel,Llama3.2+SPWordPiece,Llama3.2+SPSentencePiece,Llama3SPv2
0,mesos,usergrid,1.34,1.40,1.38,1.05,1.37
1,usergrid,mesos,1.74,1.73,1.60,1.56,1.45
2,appceleratorstudio,aptanastudio,4.36,5.22,4.28,4.31,1.53
3,appceleratorstudio,titanium,3.36,3.76,3.40,3.30,1.70
4,titanium,appceleratorstudio,2.55,2.64,2.36,2.36,2.65
5,aptanastudio,titanium,3.78,3.64,4.11,3.78,3.48
6,mule,mulestudio,3.57,4.07,3.43,3.65,2.73
7,mulestudio,mule,2.98,3.07,3.08,3.31,3.87
8,clover,usergrid,2.02,2.53,2.07,1.48,4.17
9,talendesb,mesos,1.52,1.95,1.60,1.66,1.07
10,talenddataquality,aptanastudio,4.53,4.69,4.54,4.73,3.71
11,mule,titanium,3.48,3.68,3.34,3.31,2.68
12,talenddataquality,appceleratorstudio,2.72,2.66,2.98,2.49,3.92
13,mulestudio,titanium,3.73,3.73,3.51,3.97,3.85
14,appceleratorstudio,mulestudio,3.41,3.54,3.39,3.53,1.74
15,appceleratorstudio,mule,2.90,2.89,3.01,2.77,1.91

In [4]:
df_cross = df_cross[['Train', 'Test', 'Llama3SP']]
df_cross

                 Train                Test  Llama3SP
0                mesos            usergrid      1.34
1             usergrid               mesos      1.74
2   appceleratorstudio        aptanastudio      4.36
3   appceleratorstudio            titanium      3.36
4             titanium  appceleratorstudio      2.55
5         aptanastudio            titanium      3.78
6                 mule          mulestudio      3.57
7           mulestudio                mule      2.98
8               clover            usergrid      2.02
9            talendesb               mesos      1.52
10   talenddataquality        aptanastudio      4.53
11                mule            titanium      3.48
12   talenddataquality  appceleratorstudio      2.72
13          mulestudio            titanium      3.73
14  appceleratorstudio          mulestudio      3.41
15  appceleratorstudio                mule      2.90

In [5]:
df_llama3_cross_mdae = pd.read_csv('Llama3_cross_results_mdae.csv')
df_llama3_cross_mdae = df_llama3_cross_mdae.rename(columns={'Llama3.2': 'MdAE'})
df_llama3_cross_mdae = df_llama3_cross_mdae[['Train', 'Test', 'MdAE']]

df_llama3_cross_mdae

                 Train                Test  MdAE
0                mesos            usergrid  1.05
1             usergrid               mesos  1.34
2   appceleratorstudio        aptanastudio  3.12
3   appceleratorstudio            titanium  2.32
4             titanium  appceleratorstudio  1.88
5         aptanastudio            titanium  2.78
6                 mule          mulestudio  2.53
7           mulestudio                mule  2.54
8               clover            usergrid  1.67
9            talendesb               mesos  1.01
10   talenddataquality        aptanastudio  3.48
11                mule            titanium  2.13
12   talenddataquality  appceleratorstudio  2.08
13          mulestudio            titanium  2.79
14  appceleratorstudio          mulestudio  2.39
15  appceleratorstudio                mule  2.35

In [6]:
df_llama3_cross_sa = pd.read_csv('Llama3_cross_results_sa.csv')
df_llama3_cross_sa = df_llama3_cross_sa.rename(columns={'Llama3.2': 'SA'})
df_llama3_cross_sa = df_llama3_cross_sa[['Train', 'Test', 'SA']]

df_llama3_cross_sa

                 Train                Test     SA
0                mesos            usergrid  43.23
1             usergrid               mesos  32.85
2   appceleratorstudio        aptanastudio  42.05
3   appceleratorstudio            titanium  42.19
4             titanium  appceleratorstudio  50.29
5         aptanastudio            titanium  34.99
6                 mule          mulestudio  39.44
7           mulestudio                mule  34.85
8               clover            usergrid  13.91
9            talendesb               mesos  41.39
10   talenddataquality        aptanastudio  39.69
11                mule            titanium  40.14
12   talenddataquality  appceleratorstudio  47.12
13          mulestudio            titanium  35.84
14  appceleratorstudio          mulestudio  42.15
15  appceleratorstudio                mule  36.61

In [7]:
df_cross = pd.merge(df_cross, df_llama3_cross_mdae, how='left', left_on=['Train', 'Test'], right_on=['Train', 'Test'])
df_cross = pd.merge(df_cross, df_llama3_cross_sa, how='left', left_on=['Train', 'Test'], right_on=['Train', 'Test'])

df_cross

                 Train                Test  Llama3SP  MdAE     SA
0                mesos            usergrid      1.34  1.05  43.23
1             usergrid               mesos      1.74  1.34  32.85
2   appceleratorstudio        aptanastudio      4.36  3.12  42.05
3   appceleratorstudio            titanium      3.36  2.32  42.19
4             titanium  appceleratorstudio      2.55  1.88  50.29
5         aptanastudio            titanium      3.78  2.78  34.99
6                 mule          mulestudio      3.57  2.53  39.44
7           mulestudio                mule      2.98  2.54  34.85
8               clover            usergrid      2.02  1.67  13.91
9            talendesb               mesos      1.52  1.01  41.39
10   talenddataquality        aptanastudio      4.53  3.48  39.69
11                mule            titanium      3.48  2.13  40.14
12   talenddataquality  appceleratorstudio      2.72  2.08  47.12
13          mulestudio            titanium      3.73  2.79  35.84
14  appceleratorstudio          mulestudio      3.41  2.39  42.15
15  appceleratorstudio                mule      2.90  2.35  36.61

In [8]:
df = df_cross.copy()

# Create a list to store the transformed data
transformed_data = []

for _, row in df.iterrows():
    train, test = row['Train'], row['Test']

    row['Scenario'] = og_df.loc[(og_df['Source'] == train) & (og_df['Target'] == test), 'Scenario'].values[0]
    row['Source'] = train
    row['Target'] = test
    row['Method'] = 'Llama3SP'
    row['MAE'] = row['Llama3SP']
    row['MdAE'] = row['MdAE']
    row['SA'] = row['SA']
    row['Llama3SP vs.'] = 0.0
    transformed_data.append(row)

# Create the transformed DataFrame
transformed_df = pd.DataFrame(transformed_data)

# Reorder and select columns
cross_project_df = transformed_df[[
    'Scenario', 'Source', 'Target', 'Method', 'MAE', 'MdAE', 'SA', 'Llama3SP vs.'
]]

# Print the DataFrame
cross_project_df

,Scenario,Source,Target,Method,MAE,MdAE,SA,Llama3SP vs.
0,within,mesos,usergrid,Llama3SP,1.34,1.05,43.23,0.0
1,within,usergrid,mesos,Llama3SP,1.74,1.34,32.85,0.0
2,within,appceleratorstudio,aptanastudio,Llama3SP,4.36,3.12,42.05,0.0
3,within,appceleratorstudio,titanium,Llama3SP,3.36,2.32,42.19,0.0
4,within,titanium,appceleratorstudio,Llama3SP,2.55,1.88,50.29,0.0
5,within,aptanastudio,titanium,Llama3SP,3.78,2.78,34.99,0.0
6,within,mule,mulestudio,Llama3SP,3.57,2.53,39.44,0.0
7,within,mulestudio,mule,Llama3SP,2.98,2.54,34.85,0.0
8,cross,clover,usergrid,Llama3SP,2.02,1.67,13.91,0.0
9,cross,talendesb,mesos,Llama3SP,1.52,1.01,41.39,0.0
10,cross,talenddataquality,aptanastudio,Llama3SP,4.53,3.48,39.69,0.0
11,cross,mule,titanium,Llama3SP,3.48,2.13,40.14,0.0
12,cross,talenddataquality,appceleratorstudio,Llama3SP,2.72,2.08,47.12,0.0
13,cross,mulestudio,titanium,Llama3SP,3.73,2.79,35.84,0.0
14,cross,appceleratorstudio,mulestudio,Llama3SP,3.41,2.39,42.15,0.0
15,cross,appceleratorstudio,mule,Llama3SP,2.90,2.35,36.61,0.0

In [9]:
final_df = cross_project_df.copy()

# Iterate through the rows of og_df
for _, row in og_df.iterrows():
    scenario, source, target, method, mae, mdae, sa = row['Scenario'], row['Source'], row['Target'], row['Method'], row['MAE'], row['MdAE'], row['SA']

    # Comparison with Llama3SP
    llama3sp_mae = df.loc[(df['Train'] == source) & (df['Test'] == target), 'Llama3SP'].values[0]
    llama3sp_mdae = df.loc[(df['Train'] == source) & (df['Test'] == target), 'MdAE'].values[0]
    llama3sp_sa = df.loc[(df['Train'] == source) & (df['Test'] == target), 'SA'].values[0]

    mae_diff = ((mae - llama3sp_mae) / llama3sp_mae) * 100
    mdae_diff = ((mdae - llama3sp_mdae) / llama3sp_mdae) * 100
    sa_diff = sa - llama3sp_sa

    # Append the new row to final_df
    final_df = final_df.append({
        'Scenario': scenario,
        'Source': source,
        'Target': target,
        'Method': method,
        'MAE': mae,
        'MdAE': mdae,
        'SA': sa,
        'Llama3SP vs.': round(mae_diff, 2)
    }, ignore_index=True)

# Order the data by Scenario, Source, and Target (Scenario DESC, Source ASC, Target ASC)
final_df = final_df.sort_values(by=['Scenario', 'Source', 'Target'], ascending=[False, True, True]).reset_index(drop=True)

# Print the DataFrame
final_df

,Scenario,Source,Target,Method,MAE,MdAE,SA,Llama3SP vs.
0,within,appceleratorstudio,aptanastudio,Llama3SP,4.36,3.12,42.05,0.00
1,within,appceleratorstudio,aptanastudio,GPT2SP,4.62,3.37,7.99,5.96
2,within,appceleratorstudio,aptanastudio,Deep-SE,4.37,2.98,12.99,0.23
3,within,appceleratorstudio,aptanastudio,Mean,4.27,2.18,15.05,-2.06
4,within,appceleratorstudio,aptanastudio,Median,4.38,3.00,12.73,0.46
...,...,...,...,...,...,...,...,...
75,cross,talendesb,mesos,Llama3SP,1.52,1.01,41.39,0.00
76,cross,talendesb,mesos,GPT2SP,2.65,2.75,28.83,74.34
77,cross,talendesb,mesos,Deep-SE,3.18,3.20,14.70,109.21
78,cross,talendesb,mesos,Mean,3.28,2.82,11.95,115.79
79,cross,talendesb,mesos,Median,2.58,3.00,30.85,69.74

In [10]:
# Function to hide repeated values and highlight the minimum MAE, MdAE, and SA
def hide_repeated_and_highlight_min_metrics(df):
    df_copy = df.copy()  # Create a copy of the original DataFrame
    styles = pd.DataFrame('', index=df.index, columns=df.columns)
    
    for scenario in df['Scenario'].unique():
        for source in df['Source'].unique():
            for target in df['Target'].unique():
                mask = (df['Scenario'] == scenario) & (df['Source'] == source) & (df['Target'] == target)
                if mask.any():
                    min_mae = df[mask]['MAE'].min()
                    min_mdae = df[mask]['MdAE'].min()
                    min_sa = df[mask]['SA'].min()
                    styles.loc[mask & (df['MAE'] == min_mae), 'MAE'] = 'font-weight: bold'
                    styles.loc[mask & (df['MdAE'] == min_mdae), 'MdAE'] = 'font-weight: bold'
                    styles.loc[mask & (df['SA'] == min_sa), 'SA'] = 'font-weight: bold'
    
    mask = (df_copy[['Scenario', 'Source', 'Target']] != df_copy[['Scenario', 'Source', 'Target']].shift()).any(axis=1)
    df_copy.loc[~mask, ['Scenario', 'Source', 'Target']] = ''
    
    return df_copy, styles

# Separate the data into two different DataFrames
within_df = final_df[final_df['Scenario'] == 'within']
cross_df = final_df[final_df['Scenario'] == 'cross']

# Apply the function to hide repeated values and highlight the minimum metrics to each DataFrame
within_df_copy, within_styles = hide_repeated_and_highlight_min_metrics(within_df)
cross_df_copy, cross_styles = hide_repeated_and_highlight_min_metrics(cross_df)

# Remove the 'Scenario' column from each DataFrame
within_df_copy = within_df_copy.drop(columns=['Scenario'])
cross_df_copy = cross_df_copy.drop(columns=['Scenario'])

# Adjust the style DataFrames to match the DataFrames without the 'Scenario' column
within_styles = within_styles.drop(columns=['Scenario'])
cross_styles = cross_styles.drop(columns=['Scenario'])

# Apply the styles to each DataFrame
styled_within_df = within_df_copy.style.apply(lambda x: within_styles, axis=None)
styled_cross_df = cross_df_copy.style.apply(lambda x: cross_styles, axis=None)

# Round the values of MAE, MdAE, SA, and 'Llama3SP vs.' to 2 decimal places in each DataFrame
styled_within_df = styled_within_df.format({'MAE': '{:.2f}', 'MdAE': '{:.2f}', 'SA': '{:.2f}', 'Llama3SP vs.': '{:.2f}'})
styled_cross_df = styled_cross_df.format({'MAE': '{:.2f}', 'MdAE': '{:.2f}', 'SA': '{:.2f}', 'Llama3SP vs.': '{:.2f}'})

styled_within_df, styled_cross_df

(<pandas.io.formats.style.Styler at 0x219471c05b0>,
 <pandas.io.formats.style.Styler at 0x219471a5b80>)

In [11]:
styled_within_df

In [12]:
styled_cross_df

In [13]:
# Save the styled DataFrames to an Excel file
with pd.ExcelWriter('llama3sp_final_cross_results.xlsx') as writer:
    styled_within_df.to_excel(writer, sheet_name='within', index=False)
    styled_cross_df.to_excel(writer, sheet_name='cross', index=False)