In [51]:
import pandas as pd

In [52]:
og_within_df = pd.read_csv('og-within-project.csv')
og_within_df

                Project   Method   MAE  MdAE     SA
0                 Mesos   GPT2SP  1.21  0.98  42.56
1                 Mesos  Deep-SE  1.12  0.73  46.72
2                 Mesos     Mean  1.41  1.78  33.18
3                 Mesos   Median  1.22  2.00  42.30
4              Usergrid   GPT2SP  1.19  1.02  22.56
..                  ...      ...   ...   ...    ...
59  Talend Data Quality   Median  3.31  4.00  35.85
60           Talend ESB   GPT2SP  0.86  0.55  38.81
61           Talend ESB  Deep-SE  0.90  0.59  36.19
62           Talend ESB     Mean  1.04  0.91  26.47
63           Talend ESB   Median  0.92  1.00  34.86

[64 rows x 5 columns]

In [53]:
df_within_mae = pd.read_csv('within_results.csv')
df_within_mdae = pd.read_csv('Llama3_within_results_mdae.csv')
df_within_sa = pd.read_csv('Llama3_within_results_sa.csv')

df_within_mae

,Project,SP_mean,SP_std,GPT2SP,DeepSE,LSTM+RF,LSTM+SVM,Doc2Vec+RF,BOW+RF,LSTM+ATLM,LSTM+LR,Median,Mean,Llama3SP,Llama3.2+SPWordLevel,Llama3.2+SPWordPiece,Llama3.2+SPSentencePiece,Llama3.2_Custom
0,appceleratorstudio,5.64,3.33,1.53,1.36,1.62,1.46,1.62,1.83,1.59,1.68,1.84,2.08,1.65,1.50,1.67,1.64,1.59
1,aptanastudio,8.02,5.95,3.52,2.71,2.96,3.06,3.20,2.97,3.06,3.75,3.71,3.15,3.74,3.76,4.04,3.74,3.89
2,bamboo,2.42,2.14,0.77,0.74,1.01,0.81,1.12,1.34,1.97,1.26,1.32,1.75,1.10,1.43,1.17,0.97,1.11
3,clover,4.59,6.55,3.76,2.11,3.08,2.50,3.16,2.98,3.11,3.36,2.84,3.49,4.08,4.90,3.84,3.82,3.99
4,datamanagement,9.57,16.61,5.39,3.77,4.51,4.20,4.71,4.78,4.70,5.30,4.82,5.29,6.45,16.78,6.78,7.17,5.84
5,duracloud,2.13,2.03,0.80,0.68,0.69,0.75,0.77,0.96,0.87,0.80,0.73,1.30,1.05,1.36,1.29,1.10,1.01
6,jirasoftware,4.43,3.51,1.57,1.38,1.71,2.04,2.10,2.10,2.10,2.10,2.93,2.48,2.05,2.32,2.13,1.90,2.38
7,mesos,3.09,2.42,1.21,1.02,1.08,1.07,1.14,1.31,1.08,1.10,1.73,1.64,1.38,1.51,1.19,1.29,1.27
8,moodle,15.54,21.65,8.38,5.97,9.86,6.70,8.02,10.20,9.97,9.97,7.18,10.90,11.61,11.64,13.80,11.22,13.90
9,mule,5.08,3.50,2.61,2.18,2.20,2.28,2.21,2.31,2.46,2.46,2.69,2.59,2.65,2.69,2.80,2.51,2.76
10,mulestudio,6.40,5.39,3.70,3.23,3.30,3.31,3.40,3.31,3.42,3.42,3.30,3.34,3.70,3.56,3.84,3.81,3.91
11,springxd,3.70,3.23,1.78,1.61,1.81,1.80,1.88,1.98,1.83,1.85,2.07,2.27,2.07,1.93,1.85,1.70,1.87
12,talenddataquality,5.92,5.19,3.65,2.97,3.89,3.49,4.33,4.49,3.86,3.79,3.87,4.81,3.79,4.67,3.76,3.92,4.54
13,talendesb,2.16,1.50,0.86,0.64,0.66,0.70,0.70,0.86,0.70,0.77,1.16,1.14,1.08,1.71,1.05,1.00,1.06
14,titanium,6.32,5.10,2.35,1.97,2.32,2.00,2.41,2.58,2.51,2.71,2.47,3.05,2.46,2.34,2.47,2.32,2.60
15,usergrid,2.85,1.40,1.19,1.03,1.07,1.06,1.12,1.19,1.40,1.40,1.60,1.48,1.51,1.52,1.37,1.37,1.47

In [54]:
df_within_mae = df_within_mae[['Project', 'Llama3SP']]
df_within_mae = df_within_mae.rename(columns={'Llama3SP': 'MAE'})
df_within_mdae = df_within_mdae[['Project', 'Llama3.2']]
df_within_mdae = df_within_mdae.rename(columns={'Llama3.2': 'MdAE'})
df_within_sa = df_within_sa[['Project', 'Llama3.2']]
df_within_sa = df_within_sa.rename(columns={'Llama3.2': 'SA'})

df_within = pd.merge(df_within_mae, df_within_mdae, on='Project')
df_within = pd.merge(df_within, df_within_sa, on='Project')

df_within['Method'] = 'Llama3SP'

df_within

               Project    MAE  MdAE     SA    Method
0   appceleratorstudio   1.65  1.45  63.86  Llama3SP
1         aptanastudio   3.74  2.90  44.37  Llama3SP
2               bamboo   1.10  1.05  20.44  Llama3SP
3               clover   4.08  2.02   8.59  Llama3SP
4       datamanagement   6.45  3.54  16.70  Llama3SP
5            duracloud   1.05  0.89  19.37  Llama3SP
6         jirasoftware   2.05  1.59  34.87  Llama3SP
7                mesos   1.38  1.10  38.67  Llama3SP
8               moodle  11.61  8.72 -74.63  Llama3SP
9                 mule   2.65  2.27  35.72  Llama3SP
10          mulestudio   3.70  2.65  42.59  Llama3SP
11            springxd   2.07  1.79  25.47  Llama3SP
12   talenddataquality   3.79  3.45 -29.97  Llama3SP
13           talendesb   1.08  0.86  30.09  Llama3SP
14            titanium   2.46  1.84  48.23  Llama3SP
15            usergrid   1.51  1.28  38.45  Llama3SP

In [55]:
dictionary = {
    'appceleratorstudio': 'Appcelerator Studio',
    'aptanastudio': 'Aptana Studio',
    'bamboo' : 'Bamboo',
    'clover' : 'Clover', 
    'datamanagement' : 'Data Management',
    'duracloud' : 'Duracloud',
    'jirasoftware' : 'Jira Software',
    'mesos' : 'Mesos',
    'moodle' : 'Moodle',
    'mule' : 'Mule',
    'mulestudio' : 'Mulesoft',
    'springxd' : 'Spring XD',
    'talenddataquality' : 'Talend Data Quality',
    'talendesb' : 'Talend ESB',
    'titanium' : 'Titanium',
    'usergrid' : 'Usergrid',
}

In [56]:
# Add the project name
df_within['Project'] = df_within['Project'].map(dictionary)

df_within

                Project    MAE  MdAE     SA    Method
0   Appcelerator Studio   1.65  1.45  63.86  Llama3SP
1         Aptana Studio   3.74  2.90  44.37  Llama3SP
2                Bamboo   1.10  1.05  20.44  Llama3SP
3                Clover   4.08  2.02   8.59  Llama3SP
4       Data Management   6.45  3.54  16.70  Llama3SP
5             Duracloud   1.05  0.89  19.37  Llama3SP
6         Jira Software   2.05  1.59  34.87  Llama3SP
7                 Mesos   1.38  1.10  38.67  Llama3SP
8                Moodle  11.61  8.72 -74.63  Llama3SP
9                  Mule   2.65  2.27  35.72  Llama3SP
10             Mulesoft   3.70  2.65  42.59  Llama3SP
11            Spring XD   2.07  1.79  25.47  Llama3SP
12  Talend Data Quality   3.79  3.45 -29.97  Llama3SP
13           Talend ESB   1.08  0.86  30.09  Llama3SP
14             Titanium   2.46  1.84  48.23  Llama3SP
15             Usergrid   1.51  1.28  38.45  Llama3SP

In [57]:
final_df = pd.concat([og_within_df, df_within])
final_df = final_df[['Project', 'Method', 'MAE', 'MdAE', 'SA']]
final_df = final_df.sort_values(by=['Project', 'Method'])

final_df

                Project    Method   MAE  MdAE     SA
9   Appcelerator Studio   Deep-SE  1.42  0.58  53.49
8   Appcelerator Studio    GPT2SP  1.53  0.71  49.98
0   Appcelerator Studio  Llama3SP  1.65  1.45  63.86
10  Appcelerator Studio      Mean  1.91  1.52  37.52
11  Appcelerator Studio    Median  1.30  1.00  57.41
..                  ...       ...   ...   ...    ...
5              Usergrid   Deep-SE  1.18  0.80  23.25
4              Usergrid    GPT2SP  1.19  1.02  22.56
15             Usergrid  Llama3SP  1.51  1.28  38.45
6              Usergrid      Mean  1.19  1.23  22.43
7              Usergrid    Median  1.15  1.00  24.97

[80 rows x 5 columns]

In [58]:
# Function to hide repeated values and highlight the minimum MAE, MdAE, and SA
def hide_repeated_and_highlight_min_metrics(df):
    # Sort the DataFrame to ensure 'Llama3SP' is first within each project
    df = df.sort_values(by=['Project', 'Method'], key=lambda col: col.map(lambda x: (x != 'Llama3SP', x)))
    
    df_copy = df.copy()  # Create a copy of the original DataFrame
    styles = pd.DataFrame('', index=df.index, columns=df.columns)

    for project in df['Project'].unique():
        mask = (df['Project'] == project)
        if mask.any():
            min_mae = df[mask]['MAE'].min()
            min_mdae = df[mask]['MdAE'].min()
            min_sa = df[mask]['SA'].min()
            styles.loc[mask & (df['MAE'] == min_mae), 'MAE'] = 'font-weight: bold'
            styles.loc[mask & (df['MdAE'] == min_mdae), 'MdAE'] = 'font-weight: bold'
            styles.loc[mask & (df['SA'] == min_sa), 'SA'] = 'font-weight: bold'
    
    mask = (df_copy[['Project']] != df_copy[['Project']].shift()).any(axis=1)
    df_copy.loc[~mask, 'Project'] = ''
    
    return df_copy, styles

# Apply the function to hide repeated values and highlight the minimum metrics to DataFrame
within_df_copy, within_styles = hide_repeated_and_highlight_min_metrics(final_df)

# Reset the index to ensure unique indices
within_df_copy = within_df_copy.reset_index(drop=True)
within_styles = within_styles.reset_index(drop=True)

# Apply the styles to each DataFrame
styled_within_df = within_df_copy.style.apply(lambda x: within_styles, axis=None)

# Round the values of MAE, MdAE, SA, and 'Llama3SP vs.' to 2 decimal places in each DataFrame
styled_within_df = styled_within_df.format({'MAE': '{:.2f}', 'MdAE': '{:.2f}', 'SA': '{:.2f}'})

styled_within_df

In [59]:
styled_within_df.to_excel('llama3sp_final_within_results.xlsx', engine='openpyxl', index=False)